.root-container {
  width: 100vw;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10vw;
}

header {
  margin-bottom: 30px;
}

.search-bar>* {
  margin-right: 10px;
}

.field {
  margin-right: 0.25em;
}

